@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 30, 30;
  --background-rgb: 247, 247, 255;
  --on-hover-rgb: 197, 34, 51;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-background-rgb {
    background-color: rgb(var(--background-rgb));
  }
  .highlight-on-hover:hover {
    color: rgb(var(--on-hover-rgb));
  }

  /* Font family for nav links and major titles. */
  .primary-ff {
    font-family: var(--font-alata), sans-serif;
    font-weight: 400;
  }

  /* Font family for minor titles. */
  .secondary-ff {  
    font-family: var(--font-tajawal), sans-serif;
    font-weight: 700;
  }

  /* Font family for basic text. */
  .tertiary-ff {
    font-family: var(--font-tajawal), Roboto;
    font-weight: 400;
  }

  .skill-tag {
    color: rgb(var(--on-hover-rgb));
    background-color: rgba(197, 34, 51, 0.3);
  }
}
